.parent-container{
    /* overflow-y: hidden;
    overflow-x: hidden; */
}
.bookshelf{
    height: 75vh;
    width: 100%;
    overflow-y: hidden;
    overflow-y: hidden;
}
.navbar{
    background-color:  #964B00;
    margin: 0;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 2rem;

}
.navbar ul{
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    color: white;
    font: 20px;
}
.navbar ul li{
    list-style-type: none;
    display: flex;
    font: 20px;
}
.trevor{
    height: 56vh;
    width: 30vw;
}
.newtitle{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.new-title p{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.title{
    justify-content: center;
    font: 50px;
    align-items: center;
    text-align: center;
    padding: 0;
}