
.nav-bar{
  background-color: rgba(54, 146, 233, 0.692);
  height: 3rem;
  color: white;

}
ul{
    display: flex;
    list-style-type: none;
    gap: 5%;
    margin-left: 80rem;
    padding-top: 1%;
}

.blog-text{
    display: flex;
    justify-content: center;
}
.blog-text p{
    
}

.book-image img{
    width: 25vw;
    height: 55vh;
    padding-top: 3%;
    border-radius: 20px;
    
}
#text{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.new-title{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    justify-content: center;
    gap: 2%;
    border: 2px solid rgb(247, 247, 91);
}
.new-title img{
    width: 20vw;
    height: 40vh;
    padding-bottom: 2%;
    padding-top: 2%;
}
.description{
    display: inline-block;
}
.heading{
    text-align: center;
    background-color: rgba(241, 241, 53, 0.986);
    padding-top: 1%;
    padding-bottom:1%;
    height: 6em;
}
#text{
    font-size: 26px;
}
blockquote{
    margin-left: 12rem;
    font-size: 20px;
}